/* have to include border in width/height */
.fakeCard {
    min-width:82px;
    min-height:122px;
}

.realCard {
	min-height:120px;
    min-width:80px;
	background-image:url('/images/placeholder.png');
}

.selectedCard {
	border-color:red;
    border-width:1px;
    border-style:solid;
}

.unselectedCard {
    border-color:black;
    border-width:1px;
    border-style:solid;
}