<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:j2ee="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <description>Tau Game</description>
  <display-name>Tau</display-name>
  <servlet>
    <servlet-name>tauAjaxServlet</servlet-name>
    <servlet-class>com.taugame.tau.server.TauServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tauAjaxServlet</servlet-name>
    <url-pattern>/ajax</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>TauCometServlet</description>
    <servlet-name>TauCometServlet</servlet-name>
    <servlet-class>com.taugame.tau.server.TauCometServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TauCometServlet</servlet-name>
    <url-pattern>/comet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>25</session-timeout>
  </session-config>
</web-app>

